* {
    box-sizing: border-box;
}

@font-face {
    font-family: Roboto-Light;
    src: url('../resources/Roboto-Light.ttf');
    font-display: swap
}

/* @font-face {
    font-family: Roboto-Thin;
    src: url('../resources/Roboto-Thin.ttf');
    font-display: swap
} */

body {
    /* display: flex;
    flex-direction: column; */
    margin: 0%; 
    font-size: 1rem;
    font-family: Roboto-Light;
}

#app {
    margin: 0 auto;
    max-width: 380px;
    width: 100%;
}
h1 {
    margin: 0%;
}

p {
    margin: 0%;
    padding-top: 10px;
    padding-bottom: 10px;
}

header {
    background-image: url(../resources/mountain-background.jpg);
    height: 300px;
    background-repeat: no-repeat;
    background-color: aquamarine;

}

main {
    background-color: bisque;
    padding-left: 1rem;
    padding-right: 1rem;
}

footer {
    background-image: url(../resources/mountain-background.jpg);
    background-repeat: no-repeat;
    background-color: aquamarine;
}