* {
  box-sizing: border-box;
  margin: 0%;
}

@font-face {
  font-family: Roboto-Light;
  src: url("../resources/Roboto-Light.ttf");
  font-display: swap;
}

/*general styling*/
body {

  color: black;
  font-size: 1rem;
  font-family: Roboto-Light;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
  background: linear-gradient(-45deg,#1B4D67,#04adbf,#f28f6b,#d96d55);
  background-size: 400% 400%;
  animation: gradient 30s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@media screen and (max-width: 1200px) {
  body {
    margin-top: 0%;
    margin-bottom: 0%;
  }
}

#app {
  margin: 0 auto;
  max-width: 640px;
  width: 100%;
  box-shadow: 4px 4px 40px #011126;
}

#app h1, h2, h3 {
  margin: 0%;
}

#app p {
  margin: 0%;
  padding-top: 10px;
  padding-bottom: 10px;
}

/*general header styling*/
header {
  background-image: url(../images/mountain-background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #f2ad85;
  color: whitesmoke;
  height: 200px;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.7rem;
}

/*general main body styling*/
main {
  background-color: #81c3d9;
  padding-left: 1rem;
  padding-right: 1rem;
}

/*inbox styling*/
#inbox {
  /* color: whitesmoke; */
  padding-top: 10px;
  padding-bottom: 10px;
  text-transform: uppercase;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

/*dropdown styling*/
#inbox select {
  outline: none;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid #011126;
  width: 7.6rem;
  cursor: pointer;
  padding-bottom: 0.3rem;
  font-size: 1rem;
}

#inbox .type-select {
  background-color: #fbc097;
}

/*task container styling*/
.todo {
  background: transparent;
  border-bottom: 1px solid #010916;
  margin: 7px auto;
  padding: 0.9rem 0.3rem 0.3rem 0.3rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2rem;
  transition: all 0.5s ease;
}

.todoList {
  min-width: 100%;
  list-style: none;
}

.todo-container ul {
  padding: 0%;
}

.todo li {
  flex: 1;
}

/*task container button styling*/
.completeBtn, .editBtn, .deleteBtn {
  padding: 0.5rem;
  background-color: #f2ad85;
  color: whitesmoke;
  border: none;
  margin-left: 0.2rem;
  cursor: pointer;
  font-size: 1rem;
  border-radius: 50%;
}

.completeBtn {
  background-color: #fbc097;
}
.completeBtn:active {
  background: #f28f6b;
}

.editBtn {
  background: #f28f6b;
}
.editBtn:active {
  background: #d96d55;
}

.deleteBtn {
  background: #d96d55;
}
.deleteBtn:active {
  background: #fbc097;
}

.fa-check,
.fa-pen,
.fa-trash {
  pointer-events: none;
}

/*completed tasks*/
.completedItem {
  text-decoration: line-through;
  opacity: 70%;
  transform: scale(95%);
}

/*task deletion*/
.fall {
  transform: translateX(3rem) scale(0.9);
  opacity: 0;
}

/*add button styling*/
#button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

#add-btn {
  border: 1px solid transparent;
  background-color: #81c3d9;
  border-radius: 50%;
  width: 65px;
  height: 65px;
  color: whitesmoke;
  font-size: 40px;
  transition: all 0.3s ease;
}

#add-btn:hover {
  background-color: whitesmoke;
  color: #81c3d9;
}

/*modal styling*/
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  margin-top: 2.5rem;
}

.modal-header {
  background-color: #010916;
  margin: auto;
  padding: 15px;
  max-width: 540px;
}

.modal-header h2 {
  color: whitesmoke;
  text-align: center;
  text-transform: uppercase;
}

.modal-content {
  background-color: whitesmoke;
  margin: auto;
  padding: 1.3rem 1.3rem 1.3rem 1.3rem;
  max-width: 540px;
}

.close {
  color: whitesmoke;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: rgb(184, 179, 179);
  text-decoration: none;
  cursor: pointer;
}

@media screen and (max-width: 1200px) {
  .modal {
    margin-top: 0%;
  }
}

/*form styling*/
form {
  display: flex;
  flex-direction: column;
  justify-content: start;
}

form input, form select {
  padding: 0rem 0.3rem 0.3rem 0.3rem;
  margin-bottom: 1.2rem;
  border: none;
  outline: none;
  border-bottom: 1px solid #010916;
  font-size: 1.1rem;
  background: transparent;
  max-width: 500px;
}

form label {
  font-size: 1.17rem;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  margin-bottom: 0.73rem;
}

form button {
  background: #81c3d9;
  color: whitesmoke;
  cursor: pointer;
  transition: all 0.3s ease;
  width: 80px;
  padding: 0.4rem;
  font-size: 1.2rem;
  border: none;
  margin: 0 auto;
}

form button:hover {
  background-color: whitesmoke;
  color: #81c3d9;
}

/*general footer styling*/
footer {
  background-image: url(../images/mountain-background.jpg);
  background-repeat: no-repeat;
  background-position: bottom;
  background-color: #010916;
  color: whitesmoke;
  height: 50px;
  text-transform: uppercase;
  padding-left: 1rem;
  padding-right: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}

::selection {
  background: #5ec5e4;
  color: whitesmoke;
}
